/* 
=========================
  * Estilos Iniciales
=========================
*/

html {
  font-size: 62.5%;
}
body{
  font-family: 'Raleway', sans-serif;
}
body::-webkit-scrollbar{
  background-color: rgb(226, 226, 226);
  width: 15px;
}
/* 
=======================
  * Estilos del Header
=======================
*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  background-image: linear-gradient(to top, #fbc2eb88 0%, #a6c0eed7 100%),
    url("../assets/img/man-working.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  box-shadow: 10px 10px 100px #b4b4b4;
  margin-bottom: 30px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 30px;
}
.header__logo{
  align-self: center;
  font-size: 2rem;
}
.header__menu {
  font-size: 1.5rem;
  width: 170px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
}
.header__menu--item {
  display: inline-block;
}
.header__menu--link{
  color: #eeeeee;
  letter-spacing: 1px;
}
.header__menu--link:hover{
  color: #d4d4d4;
}
.header__logo, .header__nav {
  margin-top: 20px;
}
.header__title, .icon-link{
  align-self: center;
}
.header__title{
  margin-top: 20px;
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 6px;
  text-align: center;
}
.icon-link{
  font-size: 1.8rem;
  color: #ffffffd7;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
/* 
======================
  * Estilos Del Main
======================
*/
.main{
  font-size: 1.4rem;
  color: #585757;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__text{
  text-align: center;
  margin: 6px 10px 20px 15px;
}
.main__img{
  width: 60%;
}