/* 
=========================
  * Estilos Iniciales
  =========================
  */
  
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Raleway", sans-serif;
  }
  body::-webkit-scrollbar {
    width: 15px;
    background-image: linear-gradient(100deg, #fdfbfb 0%, #ebedee 100%);
  }
  body::-webkit-scrollbar-thumb {
    background-color: #d8d3d3;
    border-radius: 8px;
}
/* 
=======================
  * Estilos del Header
=======================
*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  background-image: linear-gradient(
      to right,
      #ff8077bd 0%,
      #ff857ab2 0%,
      #ff8c7fb9 21%,
      #f9908594 52%,
      #cf556b80 78%,
      #b12a5ba2 100%
    ),
    url("../assets/img/man-working.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  box-shadow: 10px 10px 100px #b4b4b4;
  margin-bottom: 30px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 30px;
}
.header__logo {
  align-self: center;
  font-size: 2rem;
}
.main-menu {
  font-size: 1.5rem;
  width: 170px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
}
.main-menu__item {
  display: inline-block;
}
.main-menu__link {
  color: #eeeeee;
  letter-spacing: 1px;
}
.main-menu__link--active{
  background-color: #ff7839e1;
  padding: 10px;
  color: #eeee;
  border-radius: 5px;
  transition: .4s all;
}
.main-menu__link--active:hover{
  background-color: #fd996be1;
}
.main-menu__link:hover {
  color: #d4d4d4;
}
.header__title,
.icon-link {
  align-self: center;
}
.header__title {
  margin-top: 20px;
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 6px;
  text-align: center;
}
.icon-link {
  font-size: 1.8rem;
  color: #ffffffd7;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
/* 
======================
  * Estilos Del Main
======================
*/
.main {
  font-size: 1.4rem;
  color: #585757;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__text {
  text-align: center;
  margin: 6px 10px 20px 15px;
}
.main__text a{
  color: #ff8a53e1;
}
.main__text a:hover{
  color: #f35c16e1;
}
.main__img {
  width: 25%;
}
